<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.dao.CityMapper">
	<resultMap type="demo.model.City" id="cityResultMap">
		<result property="id" column="id" />
		<result property="parentId" column="parent_id" />
		<result property="name" column="name" />
		<result property="spelling" column="spelling" />
		<result property="jianpin" column="jianpin" />
		<result property="level" column="level" />
		<result property="sort" column="sort" />
		<result property="createTime" column="create_time" />
		<result property="status" column="status" />
	</resultMap>
	
	<sql id="table_columns">
		id,
		parent_id,
		name,
		spelling,
		jianpin,
		level,
		sort,
		create_time,
		status
    </sql>
	<sql id="entity_properties">
		#{id},
		#{parentId},
		#{name},
		#{spelling},
		#{jianpin},
		#{level},
		#{sort},
		#{createTime},
		#{status}
	</sql>
	
	<!-- 适用于主键自增类型 -->
	<insert id="save" parameterType="demo.model.City" useGeneratedKeys="true" keyProperty="id">
		insert into city( <include refid="table_columns" /> ) 
		values ( <include refid="entity_properties" /> )
	</insert>
	
	<delete id="deleteByIds">
		delete from city
		where id in
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="update" parameterType="demo.model.City">
		update city 
		<trim prefix="set" suffixOverrides=",">
			<if test="parentId != null and parentId != ''">parent_id = #{parentId},</if>
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="spelling != null and spelling != ''">spelling = #{spelling},</if>
			<if test="jianpin != null and jianpin != ''">jianpin = #{jianpin},</if>
			<if test="level != null and level != ''">level = #{level},</if>
			<if test="sort != null and sort != ''">sort = #{sort},</if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
			<if test="status != null and status != ''">status = #{status},</if>
		</trim>
		<where>id = #{id}</where>
	</update>
	
	<select id="findById" resultMap="cityResultMap" parameterType="String" >
		select <include refid="table_columns" />
		from city
		where id = #{id}
	</select>
	
	<select id="queryAll" resultMap="cityResultMap">
		select <include refid="table_columns" /> 
		from city
	</select>
	
	<!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
	<sql id="page_where">
		<trim prefix="where" prefixOverrides="and | or ">
			<if test="parentId != null">and parent_id = #{parentId}</if>
			<if test="name != null and name != ''">and name = #{name}</if>
			<if test="spelling != null and spelling != ''">and spelling = #{spelling}</if>
			<if test="jianpin != null and jianpin != ''">and jianpin = #{jianpin}</if>
			<if test="level != null and level != ''">and level = #{level}</if>
			<if test="sort != null and sort != ''">and sort = #{sort}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="status != null and status != ''">and status = #{status}</if>
		</trim>
	</sql>
	
	<select id="search" resultMap="cityResultMap" parameterType="demo.model.City">
		select <include refid="table_columns" />
		from city
		<include refid="page_where" /> order by sort
	</select>
	
	<select id="page" resultMap="cityResultMap" parameterType="demo.model.City">
		select <include refid="table_columns" />
		from city
		<include refid="page_where" />
		limit #{firstIndex},#{pageSize}
	</select>

    <select id="count" resultType="long" parameterType="demo.model.City">
        select count(id) from city
        <include refid="page_where" />
    </select>

	<!-- 其他自定义SQL -->
    <select id="find" resultMap="cityResultMap" parameterType="demo.model.City">
        select <include refid="table_columns" />
        from city
        <include refid="page_where" /> order by sort
    </select>
</mapper>